body{
    height: 100vh;
}

#map {
    height: 80%;
    width: 80%;
    margin: auto;
}

.container-poppup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    display: none;
    z-index: 3;
}

.container-poppup.visible{
    display: block;
}

.container-child{
    padding: 0.5rem 1rem;
}

.modal-header h3{
    text-align: center;
    color: aqua;
    margin: 0 auto;
}

.container-poppup .image-city{
    width: 400px;
    height: 300px;
}
.container-poppup .image-city img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
